.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
  
 .card {
    flex: 0 1 calc(25% - 1em);
}

.cards {
    display: flex;
    flex-wrap: wrap;
 }
 
.card {
    flex: 1 0 500px;
    box-sizing: border-box;
    margin: 1rem .25em;
}